<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>

    <div style="margin-top:35px"><!---->

      <div style="width:50%;float:left" class=""><!--rangka untuk no ID-->
        <div style="width:50%;left:0;right:0;margin-left:auto;margin-right:auto">
          <form class="form-inline" action="index.html" method="post">
            <input style="margin-top:50px" class="form-control" type="text" name="" value="" autofocus placeholder="Tap Card Here"><!--input No ID-->
          </form>
        </div>
      </div>

      <div style="width:50%;float:left" class=""><!--rangka untuk foto-->
        <div style="width:50%;left:0;right:0;margin-left:auto;margin-right:auto" align="center">
          <img src="../public/img/a.jpeg" alt="foto" style="border-radius: 70px; height: 140px;"><br><br>
          <table style="text-align: center">
            <td><h5>Nama:</h5></td>
            <td></td>
          </table><br>
        </div>
      </div>
    </div>

    <div class="container"><!--tabel-->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama Siswa</th>
            <th>Email</th>
            <th>No Handphone Wali</th>
            <th>No Rfid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> .......... </td>
            <td> .......... </td>
            <td> .......... </td>
            <td> .......... </td>
            <td> .......... </td>
            <td> <a href="#">Edit</a> </td>
            <td> <a href="#">Delete</a> </td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
